In [3]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'Salary': [50000, 60000, 45000, 70000]
}

df = pd.DataFrame(data)

# Using assign() to create a new column and modify an existing column
result_df = df.assign(
    Age_Squared=lambda x: x['Age'] ** 2,
    Salary_Increase=lambda x: x['Salary'] * 1.05,
    z = lambda x: x['Salary'] / x['Age'],
)

print(result_df)

      Name  Age  Salary  Age_Squared  Salary_Increase            z
0    Alice   25   50000          625          52500.0  2000.000000
1      Bob   30   60000          900          63000.0  2000.000000
2  Charlie   22   45000          484          47250.0  2045.454545
3    David   28   70000          784          73500.0  2500.000000